@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
* {box-sizing: border-box;}

#container {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}
nav{
    background: rgba(96,6,124,0.5);
}

nav ul{
    width: 1300px;
    margin: 0px auto;
}

nav ul li {
    width: 310px;
    list-style-type: none;
    float: left;
    text-align: center;
    line-height: 40px;
}

nav ul li a{
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-decoration: underline;
}
nav ul li a.active{
    color: rgba(96,6,124);
    font-family: ;
    font-size: 20px;
    text-decoration: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


a:hover{
    color: rgba(96,6,124);
    font-size:24pt;
}

h1 {
    text-align: center;
    font-size: ;
    font-family: 'Rubik', sans-serif;
    margin-top: 0px;
    color: rgba(96, 6, 124);
}
.vzdelani {
   text-align: center;
    margin: 0px auto;
}

img {
    border-radius: 20px;
    width: 90px;
    padding: 5px;
    float: left;
    margin-top: 30px;
    position: relative;
}

img:hover{
    width: 100px;
}

main{
    background: url(pozadi.png);
    background-size: 100%;
    padding: 30px;
    height: 490px;
    font-family: 'Rubik', sans-serif;
}

.kontakt {
    text-align: right;
    font-size: 15px;
    margin-right: 10px;
}

.copyright {
    text-align: left;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 0;
    color: dimgray;
    position: absolute;
}